

*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    
}



a:link{color: inherit;}

/* font copyduck */
@font-face {
    font-family: 'Copyduck';
    src: url(assets/fonts/Copyduck.ttf);
}

/* JosefinSans*/
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(./assets/fonts/JosefinSans/JosefinSans-Regular.ttf);
}


@font-face {
    font-family: 'JosefinBoldItalic';
    src: url(./assets/fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'JosefinLight';
    src: url(./assets/fonts/JosefinSans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: 'JosefinBold';
    src: url(./assets/fonts/JosefinSans/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: 'JosefinSemiBoldItalic';
    src: url(./assets/fonts/JosefinSans/JosefinSans-SemiBoldItalic.ttf);
}

/* fin josephin */

/* rodger */
@font-face {
    font-family: 'RodgerTest-Regular';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-Regular.otf);
}

@font-face {
    font-family: 'RodgerTestBlackItalic';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-BlackItalic.otf);
}

@font-face {
    font-family: 'RodgerTestMedium';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-Medium.otf);
}

@font-face {
    font-family: 'RodgerTestItalic';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-Italic.otf);
}

/* fin de rodger */
:root{
    --main-color : #03CFC4;
    --yellow : #FFE681;
    --rose-primary : #FFCFF1;
    --pink : #FA86D7;
    --red : #FF817B;
    --green : #25925A;
    --yellow-secondary :#FFC33E ;
}

/* classe de background color pour le head  */
.bg-index {
    background-color:var(--main-color);
}
.bg-confiserie {
    background-color:var(--yellow);
}
/*  */


/* footer */
.footer-svg{
    margin: -200px 0;
    
}
.textFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.footerConfiz{
    font-family: 'Copyduck';
    font-size: 20rem;
}
h3{
    font-size: 5rem;
    font-family: 'RodgerTest-Regular';
}
.navFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.verticalText{
    writing-mode: vertical-rl;
}

.espacementfooter{
    margin: 10px 10%;
}
.contentFooter{
    background-color: var(--main-color);
    color: white;
}
.droitFooter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* fin footer */
p{
    font-family: 'JosefinSans-Regular';
}

li{
    font-family: 'JosefinSans-Regular';

}
button{
font-family: 'RodgerTestBlackItalic';
}

/* head */


.barNav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-barNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0 25px;
}

.ul-barNav > li {
    display: flex;
    align-items: center;
}



.ul-barNav > li > a {
    transition: transform 0.3s;
}

.ul-barNav > li > a:hover {
    transform: translateY(-3px);
}

.menu {
    justify-content: flex-start;
}

.logo {
    justify-content: center;
}

.user-panier {
    justify-content: flex-end;
}

.user-panier a {
    margin-left: 20px;
}

.menu-barNav, .user-barNav, .panier-barNav {
    width: 50px;
    height: 50px;
}

.logo-barNav {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
/* fin de head */


/* Header */

header{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

header > h1 {
    text-align: center;
    margin: 25px ;
}

.txt-header{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.txt-header > img {
    height: 300px; 
    width: 300px; 
    object-fit: cover;
}

.txt-header > p {
    margin: 0 20px; 
    font-family: 'JosefinSemiBoldItalic';
font-size: 48px;
width: 700px;
text-align: center;
color: white;
}

.text-header{
    font-family: 'Copyduck';
    font-size: 3rem;
    fill: white;
}

#curve-header{
    fill: transparent; 
}

.curvedTxt{
    text-align: center;
    margin-bottom: -20px; 

}


/* fin de header */

/* Avis */

.div-avis-polygon{
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.avis-polygon{
    max-width: 100%;
    height: auto;
}

.div-content-polygon{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-content-polygon > h2 {
    margin: 25px 0;
    font-family: 'Copyduck';
    font-size: 4rem;
    
}

.span-bleu{
    color: var(--main-color) ;
}

.span-rose {
    color: var(--pink);
}

.span-rouge{
    color: var(--red);
}

.div-etoile{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-etoile > p {
    font-size: 1.3rem;
    margin: 0 15px;
}

.josephin-bold-italic {
    font-family: 'JosefinBoldItalic';
}

.div-commentaire{
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;

    padding: 0 20px;
}

.commentaire{
    background-color: white;
    
    border-radius: 10px;


    padding: 10px;
}

.nom-commentaire{
    font-family: 'RodgerTestMedium';
    font-size: 24px;

}

.text-commentaire{
    margin: 10px 0;
    font-family: 'JosefinLight';
    font-size: 18px;

}

.heure-commentaire{
    font-family: 'JosefinBold';
    font-size: 16px;
text-align: end;
}

.smileyAcheteur {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    
}

.smileyAcheteur > p {
    font-size: 20px;
    font-family: 'RodgerTestItalic';
}



.contact-avis{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-avis > p {
    margin: 30px 0;
    font-family: 'RodgerTest-Regular';
    font-size: 1.5rem;
}

.contact-avis > button {
    margin: 20px 0;
    background-color: black;
    color: white;
    height: 85px;
    width: 250px;
    border-radius: 20px;

    font-size: 2rem;

}



/* Fin de Avis */


/*--------------- A propos----------------------- */


.content-apropos{
    background-color:var(--red);

}

.txt-apropos{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.txt-apropos > h2 {
    margin: 60px 0;
    font-family: 'Copyduck';
    font-size: 96px;
}

.txt-apropos > p {
    text-align: center;
    font-family: 'JosefinBoldItalic';
    font-size: 40px;
    margin: auto 15%;
}

.span-vert{
    color: var(--green);
}

.illustration-apropos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.illustration-apropos > img {
    margin: -240px 0;
    height: 1200px;
   width: 1080px;
   object-fit: cover;
}



/* Fin de à propos */


/* début boutique*/
.divBoutique{
    background-color: var(--rose-primary);
    padding:30px 0;
}

.positionBoutique{
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.boutique{
    width: fit-content;
    height: fit-content;    
    margin: 0 5%;
}
.imgBoutique{
    width: 400px;
    height: 400px;
    border-radius: 300px;
}

.boutonVoir{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 20px;
    font-family: 'RodgerTestBlackItalic';
    width: 200px;
    height: 80px;
    font-size: 2.5rem;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    transition: transform 0.1s ease-in-out;
}
a:visited{
    color: inherit;
}

.posBouton{
    display: flex;
    justify-content: flex-end;
}


.boutonVoir:hover{
    transform:translateX(0.5rem) translateY(-0.5rem) translateZ(0px);
    transition: transform 0.1s ease-in-out;
}

.remplissage{
    background-color: black;
    width: 200px;
    height: 80px;
    border-radius: 22px;
    position: absolute;
    z-index: 0;
    margin-right: 20px;
}

.nomBoutique{
    position: relative;
    top: -100px;
    left: 160px;
    background-color: var(--yellow);
    border: solid black;
    border-radius: 80px;
    width: fit-content;
    transform: rotate(-20deg);
    font-size: 3rem;
}

.BoutiqueConfiserie{
   margin: 0 25%;
   text-align: center;
}
h2{
    font-family: 'Copyduck';
    font-size: 6rem;
}

.redirection{
    font-family: 'RodgerTestMedium';
    -webkit-text-stroke: 1px var(--main-color);
    color: white;
    font-size: 1.5rem;
}

.blocConfiserie{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin: 12% 0;
}
.prixConfiserie{
    background-color: white;
    position: relative;
    top: -50px;
    left: 170px;
    width: 150px;
    transform: rotate(-20deg);
    font-size: 3rem;
    text-align: center;
}

.nomBonbon{
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-200px) rotate(-20deg);
}

.sachetbonbon{
    width: 300px;
}

.confiserie{
    background-color: var(--yellow);
}

.posConfiserie{
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 0 10%;
}

.titreConfiserie{
    -webkit-text-stroke: 2px var(--main-color);
    color: white;
}

.colorConfiserie{
    color: black;
}

.panierConfiserie{
    position: relative;
    top: -160px;
    left: -10px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
}
/* fin de boutique  */



/* Connexion */

.div-formConnexion{
    display: flex;
    margin: 200px 0;
    justify-content: center;
}

.form-connexion {
     --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black; 
    padding: 20px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
  .title-connexion {
    color: var(--font-color);
    font-family: 'JosefinBoldItalic';

    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .grise {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  
  .button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
/* FIn de connexion */