

*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    
}



a:link{color: inherit;}

/* font copyduck */
@font-face {
    font-family: 'Copyduck';
    src: url(assets/fonts/Copyduck.ttf);
}

/* JosefinSans*/
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(./assets/fonts/JosefinSans/JosefinSans-Regular.ttf);
}


@font-face {
    font-family: 'JosefinBoldItalic';
    src: url(./assets/fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'JosefinLight';
    src: url(./assets/fonts/JosefinSans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: 'JosefinBold';
    src: url(./assets/fonts/JosefinSans/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: 'JosefinSemiBoldItalic';
    src: url(./assets/fonts/JosefinSans/JosefinSans-SemiBoldItalic.ttf);
}

/* fin josephin */

/* rodger */
@font-face {
    font-family: 'RodgerTest-Regular';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-Regular.otf);
}

@font-face {
    font-family: 'RodgerTestBlackItalic';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-BlackItalic.otf);
}

@font-face {
    font-family: 'RodgerTestMedium';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-Medium.otf);
}

@font-face {
    font-family: 'RodgerTestItalic';
    src: url(./assets/fonts/Rodger_Test/RodgerTest-Italic.otf);
}

/* fin de rodger */
:root{
    --main-color : #03CFC4;
    --yellow : #FFE681;
    --rose-primary : #FFCFF1;
    --pink : #FA86D7;
    --red : #FF817B;
    --green : #25925A;
    --yellow-secondary :#FFC33E ;
}

/* classe de background color pour le head  */
.bg-index {
    background-color:var(--main-color);
}
.bg-confiserie {
    background-color:var(--yellow);
}
.bg-boutique{
    background-color: var(--rose-primary);
}

.bg-produitDetaille{
    background-color:var(--yellow);
}

.bg-gestion{
    background-color: var(--rose-primary);
}
.bg-panier{
    background-color:var(--main-color);
}
/*  */


/* footer */
.footer-svg{
    margin: -200px 0;
    
}
.textFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.footerConfiz{
    font-family: 'Copyduck';
    font-size: 20rem;
}
h3{
    font-size: 5rem;
    font-family: 'RodgerTest-Regular';
}
.navFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.verticalText{
    writing-mode: vertical-rl;
}

.espacementfooter{
    margin: 10px 10%;
}
.contentFooter{
    background-color: var(--main-color);
    color: white;
}
.droitFooter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* fin footer */
p{
    font-family: 'JosefinSans-Regular';
}

li{
    font-family: 'JosefinSans-Regular';

}
button{
font-family: 'RodgerTestBlackItalic';
}

/* head */


.barNav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ul-barNav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 20px 20px;
}

.ul-barNav > li {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}



.ul-barNav > li > a {
    transition: transform 0.3s;
}

.ul-barNav > li > a:hover {
    transform: translateY(-3px);
}

.user-panier a {
    margin-left: 20px;
}

.menu-barNav, .user-barNav, .panier-barNav {
    width: 50px;
    height: 50px;
}

.menu{
    background-color: inherit;
    border: inherit;
    cursor: pointer;
}

.menuBoutique{
    margin: 0 5%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-head {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    transform: translate(-50%, -50%);
}

.logo-barNav {
    height: 100px;
    width: 100px;
    object-fit: cover;
    
}

.user-barNav {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}


.admin-badge {
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 3;
}

.admin-badge img {
    width: 80px; 
    height: auto;
}

.gerant-badge {
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 3;
}

.gerant-badge img {
    width: 80px; 
    height: auto;
}

.shop-barNav {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

/* fin de head */


/* Header */

header{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.loader{
    width: 100%;
    position: absolute;
    top: 0;
    animation: loader 2s forwards;
    color: #FF817B;
    z-index: 30;
}

@keyframes loader {
    0% {
        top: -200px;
    }
    100% {
        top: 900px;
        display: none;
        visibility: hidden;
    }
}
body{
    animation: blockBody 6s forwards;
}

@keyframes blockBody {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}

.finVague{
    width: 100%;
    height: 900px;
    background-color: var(--red);
    position: relative;
    top: -30px;
}


.txt-header{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 80px auto 0 auto;
}

.txt-header > img {
    height: 400px; 
    width: 400px; 
    object-fit: cover;
}

.txt-header > p {
    margin: 0 20px; 
    font-family: 'JosefinSemiBoldItalic';
font-size: 48px;
width: 700px;
text-align: center;

}


/* fin de header */

/* Avis */

.div-avis-polygon{
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.avis-polygon{
    max-width: 100%;
    height: auto;
}

.div-content-polygon{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-content-polygon > h2 {
    margin: 25px 0;
    font-family: 'Copyduck';
    font-size: 4rem;
    
}

.span-bleu{
    color: var(--main-color) ;
}

.span-rose {
    color: var(--pink);
}

.span-rouge{
    color: var(--red);
}

.div-etoile{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-etoile > p {
    font-size: 1.3rem;
    margin: 0 15px;
}

.josephin-bold-italic {
    font-family: 'JosefinBoldItalic';
}

.div-commentaire{
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;

    padding: 0 20px;
}

.commentaire{
    background-color: white;
    
    border-radius: 10px;


    padding: 10px;
}

.nom-commentaire{
    font-family: 'RodgerTestMedium';
    font-size: 24px;

}

.text-commentaire{
    margin: 10px 0;
    font-family: 'JosefinLight';
    font-size: 18px;

}

.heure-commentaire{
    font-family: 'JosefinBold';
    font-size: 16px;
text-align: end;
}

.smileyAcheteur {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    
}

.smileyAcheteur > p {
    font-size: 20px;
    font-family: 'RodgerTestItalic';
}



.contact-avis{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-avis > p {
    margin: 30px 0;
    font-family: 'RodgerTest-Regular';
    font-size: 1.5rem;
}

.contact-avis > button {
    margin: 20px 0;
    background-color: black;
    color: white;
    height: 85px;
    width: 250px;
    border-radius: 20px;

    font-size: 2rem;

}



/* Fin de Avis */


/*--------------- A propos----------------------- */


.content-apropos{
    background-color:var(--red);

}

.txt-apropos{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.txt-apropos > h2 {
    margin: 60px 0;
    font-family: 'Copyduck';
    font-size: 96px;
}

.txt-apropos > p {
    text-align: center;
    font-family: 'JosefinBoldItalic';
    font-size: 40px;
    margin: auto 15%;
}

.span-vert{
    color: var(--green);
}

.illustration-apropos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.illustration-apropos > img {
    margin: -240px 0;
    height: 1200px;
   width: 1080px;
   object-fit: cover;
}



/* Fin de à propos */


/* début boutique de index*/


.divBoutique{
    background-color: var(--rose-primary);
    padding:30px 0;
    text-align: center;
}

.intro-boutique{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}

.title-boutique {
    margin: 20px 0;
}

.txt-boutique{
    margin: 40px 0;
    font-family: 'RodgerTestItalic';
font-size: 40px;
width: 40%;

}


.positionBoutique{
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.boutique{
    width: fit-content;
    height: fit-content;    
    margin: 0 5%;
    transition: transform 0.2s ease-in-out;
}
.boutique:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.boutique:hover .nomBoutique{
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;

}

.boutique:hover .imgBoutique,.boutique:hover .nomBoutique{
    border: black solid 8px;
    transition: border 0.2s ease-in-out;

}

.barNav .boutique{
    transform: scale(0.8);
    margin: 0;
}

.barNav .boutique:hover{
    transform: scale(0.9);
}

.imgBoutique{
    width: 400px;
    height: 400px;
    border-radius: 300px;
    border: black solid;
    transition: border 0.2s ease-in-out;
}

.boutonVoir{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 20px;
    font-family: 'RodgerTestBlackItalic';
    width: 200px;
    height: 80px;
    font-size: 2.5rem;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    transition: transform 0.1s ease-in-out;
}
a:visited{
    color: inherit;
}

.posBouton{
    display: flex;
    justify-content: flex-end;
}


.boutonVoir:hover{
    transform:translateX(0.5rem) translateY(-0.5rem) translateZ(0px);
    transition: transform 0.1s ease-in-out;
}

.remplissage{
    background-color: black;
    width: 200px;
    height: 80px;
    border-radius: 22px;
    position: absolute;
    z-index: 0;
    margin-right: 20px;
}

.nomBoutique{
    position: relative;
    top: -100px;
    left: 160px;
    background-color: var(--yellow);
    border: solid black;
    border-radius: 80px;
    width: 300px;
    transform: rotate(-20deg);
    font-size: 3rem;
    transition: transform border 0.5s ease-in-out;
    white-space: nowrap;
    text-align: center;
}

.sticker-fleur{
object-fit: contain;
position: absolute;
height: 100px;
width: 100px;
}



.sticker-coeur{
    object-fit: contain;
    position: absolute;
    height: 200px;
    width: 200px;
    right: 80%;
   top: 180%;
}

.sticker-ptitCoeur{
    object-fit: contain;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 80%;
   top: 230%;
}

/* fin de boutique dans index */


/* confiserie d'une boutique  */

.BoutiqueConfiserie{
   margin: 0 25%;
   text-align: center;
}
h2{
    font-family: 'Copyduck';
    font-size: 6rem;
}

.redirection{
    font-family: 'JosefinSemiBoldItalic';
    -webkit-text-stroke: 1px var(--main-color);
    color: white;
    font-size: 1.5rem;
    margin: 0 80px;
}

.blocConfiserie{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin: 5% 0;
}

.grey{
    filter: grayscale(100%);
}
.prixConfiserie{
    background-color: white;
    position: relative;
    top: -50px;
    left: 170px;
    width: 150px;
    transform: rotate(-20deg);
    font-size: 3rem;
    text-align: center;
}

.nomBonbon{
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-200px) rotate(-20deg);
}

.sachetbonbon{
    width: 300px;
    height: 300px;
}


.confiserie{
    background-color: var(--yellow);
}

.posConfiserie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   gap: 10%;
   
}

.titreConfiserie{
    -webkit-text-stroke: 2px var(--main-color);
    color: white;
}

.colorConfiserie{
    color: black;
}

.panierConfiserie{
    position: relative;
    top: -140px;
    left: -10px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
}
/* fin de confiserie */



/* Connexion */

.div-formConnexion{
    display: flex;
    margin: 200px 0;
    justify-content: center;
}

.form-connexion {
    padding: 20px;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
  }
  
  .title-connexion {
    color: black;
    font-family: 'JosefinBoldItalic';

    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .grise {
    color: #666;
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: var(--yellow);
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: #666;
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--rose-primary);
  }
  
  .button-confirm:active {
    box-shadow: 0px 0px black;
    transform: translate(3px, 3px);
  }
  
  
  .button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: var(--yellow);
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: black;
    cursor: pointer;
  }
  

  .error-message {
    color: red;
    font-size: 0.9rem;
    margin: 10px 0;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 0.9rem;
    margin: 10px 0;
    text-align: center;
}
/* FIn de connexion */

/* Form d'inscription  */

.form-inscription{
    padding: 20px;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}

.div-formConnexion {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.tab-link {
    background-color: var(--yellow);
    border: 2px solid black;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-link.active {
    background-color: var(--rose-primary);
}

.tab-content {
    display: none;
}

.title-connexion, .title-inscription {
    color: black;
    font-family: 'JosefinBoldItalic';
    font-size: 20px;
    margin-bottom: 25px;
}

.grise {
    color: #666;
    font-weight: 600;
    font-size: 17px;
}

.input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: var(--yellow);
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: #666;
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--rose-primary);
}

.button-confirm:active {
    box-shadow: 0px 0px black;
    transform: translate(3px, 3px);
}

.button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: var(--yellow);
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin: 10px 0;
    text-align: center;
}



/* fin de form inscription */

/* Produit détaille */

.produitDetaille{
    background-color: var(--yellow);
}

.posBonbon{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    gap : 30px;
}
.fondBonbon{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 5% 0;
}
.infoBonbon{
    width: 50%;
    margin: 5% 0;
}

.titreBonbon{
    color: white;
    font-size: 5rem;
}

.detailBonbon{
    font-family: 'JosefinSans-Regular';
    font-size: 3rem;
}

.detailBonbon span{
    font-family: 'JosefinBold';
}

.blocConfiserie .btnConfiserie {
    background-color: inherit;
    border: inherit;
    height: 300px;
    cursor: pointer;
}

.BtnPanier{
    background-color : white;
    border: inherit;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 80px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.BtnPanier img{
    width: 40px;
    height: 40px;
}

.fondBtnPanier{
    background-color: black;
    width: 500px;
    height: 60px;
    border-radius: 90px;
    position: relative;
    z-index: 0;
    top: -85px;
    margin: 5% 0;
}

.bonbonBoutique{
    font-family: 'RodgerTestBlackItalic';
    font-size: 3rem;
}

.textBtnPan{
    font-size: 3rem;
}

.clicked {
    transform: translateY(9px);
}

.petitBouton{
    background-color : white;
    border: var(--yellow-secondary) solid ;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    top: -10px;
}
.petitBouton img{
    width: 40px;
}

.fondpetitBouton{
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 90px;
    position: absolute;
    z-index: 0;
    top: 0;
}

.posPlusMoins{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: black solid;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    margin: 5% 0;
    border-radius: 20px;
    gap: 10px;
}

.blocbtn1 {
    position: relative;
}


/* fin produit détaillé */


/* catalogue boutique  */

.catalogue-boutique{
background-color: var(--rose-primary);
padding: 50px 0;
}

.txt-catalogue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt-catalogue > p {
    width: 600px;
    margin: 50px 0;
}



/* fin de catalogue boutique  */

/* Gerer sotck  */

.ajout-bonbon {
    color: var(--green);
    font-size: 2rem;
    margin: 10px 0;
    text-align: center;
}

.article-gererStock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    padding: 30px 0;
}

.div-liste-stock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-article-gererStock{
    font-size: 3.5rem;
    color: white;
}


.div-liste-stock > ul{
margin: 10px 0;
}

.div-liste-stock > ul > li{
    font-size: 30px;
    margin: 10px 0;
    }


.div-ajouterBonbon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-ajouterBonbon > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-boutiqueAdd{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px 0;
}

.label-boutique{
    font-family: 'JosefinSans-Regular';
    font-size: 30px;
}

.select-boutique{
    border-radius: 5%;
}

.div-supprimerBonbon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-supprimerBonbon > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-confiserieAdd{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px 0;
}


.div-quantiteAdd{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px 0;
}

.div-supprimerBoutique{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px 0;
}

.div-supprimerConfiserie{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px 0;
}

/* fin gerer stock */

.slider {
    background: var(--red);
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
    color: white;
}

.slider::before, .slider::after {
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 30);
    gap: 40px;

}

.slider .slide-track:hover {
    animation-play-state: paused;
}

.slider .slide {
    height: 100px;
    width: fit-content;
    font-family: 'RodgerTestBlackItalic';
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 30));
    }
}
.quantite{
    display: none;
}

.slideBonbon {
    background: var(--yellow);
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slideBonbon::before, .slideBonbon::after {
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slideBonbon::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slideBonbon::before {
    left: 0;
    top: 0;
}

.slideBonbon .divBonbon {
    animation: scrollBonbon 80s linear infinite;
    display: flex;
    width: calc(400px * 17); 
}

.slideBonbon .divBonbon:hover {
    animation-play-state: paused;
}

.bonbon img .divBonbon:hover {
    transform: scale(1.2);
}

.slideBonbon .bonbon {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

@keyframes scrollBonbon {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-400px * 17));
    }
}

.autreBonbon{
    background-color: var(--yellow);
    height: 900px;
}
.autreBonbon h2{
    text-align: center;
    font-size: 5rem;
    margin: 5% 10%;
}
.autreBonbon button {
    border: inherit;
    background-color: inherit;
    cursor: pointer;
}


/* Gestion utilisateurs */

.article-gestion {
    margin: 70px auto 150px auto;
    width: 80%;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}

.titre-gestion {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-family: 'JosefinBoldItalic';
}

.tableau-gestion {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: var(--yellow);
    padding: 10px;
    border: 2px solid black;
    font-family: 'RodgerTestMedium';
}

tbody td {
    padding: 10px;
    border: 2px solid black;
    font-family: 'JosefinBold';

}

.select-gestion {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: var(--yellow);
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.bouton-gestion {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: var(--yellow);
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    font-family: 'JosefinBoldItalic';
    font-size: 1.2rem;
}

.bouton-gestion:active {
    box-shadow: 0px 0px black;
    transform: translate(2px, 2px);
}




/* fin de gestion utilisateurs */
.erreur{
    font-family: 'RodgerTestBlackItalic';
}

.panier{
    background-color: var(--yellow);
    margin: 0 10%;
}
.fondpanier{
    background-color: var(--main-color);
}

.bonbonPanier{
    display: flex;
    flex-direction: row;
}
.bonbonPanier img{
    margin: 0 5%;
}

.blocPrix{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    text-align: end;
    margin-right: 5%;
}

.infoBonbonPanier{
    width: 40%;
}
.infoBonbonPanier h2{
    font-size: 4rem;
}
.panier hr{
    margin: 2% 5%;
    background-color: black;
    height: 5px;
    border: none;
}
.prixTotal{
    margin: 0 30%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border: black 3px solid;
}
